body {
  color: white;
}

.choices {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.choice-container {
  display: flex;
  margin: 0.5rem;
  width: 48%;
  border-radius: 50px;
  background: linear-gradient(#40ca77, #33b165);
  font-size: 3rem;
  min-width: 25rem;
  border: 4px solid white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(106, 226, 70, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: #008c44;
  text-align: center;
  align-self: center;
}

.choice-text {
  padding: 2rem;
  width: 100%;
  text-align: center;
  justify-self: center;
  align-self: center;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
}

.correct {
  background: linear-gradient(#40ca77, #008c44);
}

.incorrect {
  background: linear-gradient(#d94659, #991022);
}

/* Header*/

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 2rem;
  border: 0.2rem solid green;
  margin-top: 2.4rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: green;
  width: 0%;
  transition: 0.3s;
}

.hud-item img {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 90%;
  justify-self: flex-start;
}

/*Questions Container*/

.question-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
  .hud-item img {
    position: absolute;
    z-index: -1;
    width: auto;
    height: 70%;
    justify-self: flex-start;
  }
}
