body {
  color: white;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 48%;
  border-radius: 4px;
  background: rgb(5, 136, 141);
  font-size: 3rem;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(29, 112, 3, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
}

.choice-text {
  padding: 2rem;
  width: 100%;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

/* Header*/

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 2rem;
  border: 0.2rem solid green;
  margin-top: 2.4rem;
  border-radius: 50px;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: green;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
