@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  background-image: url(/img/fondo\ animado.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 5rem;
  font-style: normal;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify.center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.logo-QQSB {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo-QQSB img {
  width: 80%;
  height: 80%;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 2rem;
  text-decoration: none;
  color: rgb(16, 36, 7);
  background: linear-gradient(#40ca77, #008c44);
  border-radius: 50px;
}

.btn:hover {
  color: white;
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(154, 244, 8, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  background: rgb(165, 165, 165);
  color: gray;
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: linear-gradient(yellow, #ffdc5d);
}

/*End*/

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(154, 244, 8, 0.6);
}

input::placeholder {
  color: grey;
  font-style: normal;
  font-weight: 400;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}
